body {
    font-family: 'Play', sans-serif;
    background-image: url(../images/soccer2.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: 50% 50%;
    color: royalblue;
    text-align: center;
}

.container {
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}



h1 {
    padding-top: 20px;
    font-size: 50px !important;
    font-weight: bold;
}

h2 {
    font-size: 40px !important;
}

h3 {
    text-align: center;
}

button {
    font-size: 30px;
    text-align: center;
}

